@import "../../common/styles/variables";
.open-single {
    .single {
        opacity: 0;
    }
    
}
.single {
    opacity: 1;

    .single-content {
        width: 100vw;
        overflow: hidden;
        .single-content_video {
            width: 100vw;
            border: 60px solid transparent;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            .single-content_video-media {
                width: 100%;
                height: 100%;
                background: $color01;
                position: relative;
                display: block;
                background-size: cover;
                background-position: center;
                &:before {
                    padding-top: 56.25%;
                    content: "";
                    display: block;
                }
            }
        }
        .single-content_section {
            width: 80vw;
            margin: 0 auto;
            margin-bottom: 60px;
            margin-top: 60px;
            .single-content_section-title {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 60px;
                h3 {
                    width: 40vw;
                }
            }
        }
        .single-content_intro {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .single-content_intro-info-item {
                margin-bottom: 30px;
            }
            .single-content_intro-desc {
                width: 40vw;
                border-right: 8vw solid transparent;
                box-sizing: border-box;
                h4 {
                    margin-bottom: 60px;
                }
                h4,
                p {
                    padding-right: 8px;
                }
            }
        }
        .single-content_block {
            margin-top: 90px;
            .single-content_block-info {
                display: flex;
                justify-content: flex-end;
                margin-top: 90px;
                margin-bottom: 180px;
                .single-content_lock-info-content {
                    width: 40vw;
                    border-right: 8vw solid transparent;
                    box-sizing: border-box;
                    h4 {
                        margin-bottom: 30px;
                    }
                    p {
                        margin-bottom: 30px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                    h4,
                    p {
                        padding-right: 8px;
                    }
                }
            }
            .single-content_block-media {
                display: flex;
                flex-wrap: wrap;
                &.half {
                    .single-content_block-media-item {
                        &:nth-child(even) {
                            border-right: 0;
                            border-left: 6px solid transparent;
                        }
                        &:nth-child(odd) {
                            border-left: 0;
                            border-right: 6px solid transparent;
                        }
                    }
                }
                &.full {
                    .single-content_block-media-item {
                        width: 100%;
                        border: 0px;
                        border-bottom: 12px solid transparent;
                    }
                }
                .single-content_block-media-item {
                    position: relative;
                    width: 50%;
                    border-top: 0px;
                    border-bottom: 12px solid transparent;
                    box-sizing: border-box;
                    div {
                        // background-color: $color01;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        transform: translateY(40%);
                        opacity: 0;
                    }
                    &:before {
                        padding-top: 56.25%;
                        content: "";
                        display: block;
                    }
                }
            }
        }
    }

    .single-content_awards {
        display: flex;
        justify-content: flex-end;
        margin-top: 90px;
        padding-bottom: 180px;

        .single-content_awards-wrap {
            display: flex;
           // justify-content: space-between;
        }

        .single-content_awards-inner {
            width: 50%;
            border-left: 5px solid transparent;
            box-sizing: border-box;
        }

        .single-content_awards-item {
            margin-right: 40px;

            img {
                display: block;
                height: 9%;
                margin: 20px 0;
            }
           
        }
    }

}