<div class="single-content">
    <div class="single-content_video">

        <div class="single-content_video-media">

        </div>

    </div>

    <div class="single-content_section">

        <div class="single-content_section-title">
            <h3>Evinrude E-TEC G2</h3>
        </div>



        <div class="single-content_intro">

            <div class="single-content_intro-info">
                <div class="single-content_intro-info-item">
                    <h6>Agency</h6>
                    <p>
                        Resn
                    </p>
                </div>

                <div class="single-content_intro-info-item">
                    <h6>Role</h6>
                    <p>
                        Interactive Designer
                        <%= args %>
                    </p>
                </div>

                <div class="single-content_intro-info-item">

                    <a href="www.google.cl" class="btn" target="_blank">
                        <div class="btn-line"></div>
                        <div class="btn-text">
                            launch site
                        </div>
                    </a>
                </div>
            </div>

            <div class="single-content_intro-desc">

                <h4>We introduce you to the world’s most advanced outboard engine, the Evinrude E-TEC G2, and give you the tools
                    to design your own.</h4>
                <p>Choose Your E-TEC makes the Evinrude E-TEC G2 come to life. Learn all about the engine and explore its breakthrough
                    features. Then, design your own with the simple and intuitive Customizer.</p>
            </div>

        </div>


    </div>



</div>