@import 'reset';
@import 'variables';
html,
body {
    background: $color02;
    color: $color03;
    font-family: sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}