<div class="single-content_video">
        <div class="single-content_video-media" style="background-image:url()"></div>
</div>

<div class="home-wrap">
<div class="home-content">
        <div class=" scroll-section">
                <div class="home-intro">
                        
                    <h4><%= info.intro %></h4>
                    <nav>
                        <ul>
                            <li><a href="#" class="home-intro-cta">see projects</a></li>
                            <li><a href="#/about">about</a></li>
                            <li><a href="#/contact">contact</a></li>
                        </ul>
                    </nav>
                </div>
            
                <div class="home-hello">
                    <div class="col">
                        <div data-count="0">H</div>
                        <div data-count="2">L</div>
                        <div data-count="4">O</div>
                    </div>
            
                    <div class="col">
                        <div data-count="3">L</div>
                        <div data-count="1">E</div>
                    </div>
                </div>
            </div>
</div>


</div>