<div class="home-content">
    <div class="home-intro">
            
        <h4><%= info.intro %></h4>
        <nav>
            <ul>
                <li><a href="#/projects">see projects</a></li>
                <li><a href="#/about">about</a></li>
                <li><a href="#/contact">contact</a></li>
            </ul>
        </nav>
    </div>

    <div class="home-hello">
        <div class="col">
            <div>H</div>
            <div>L</div>
            <div>O</div>
        </div>

        <div class="col">
            <div>L</div>
            <div>E</div>
        </div>
    </div>
</div>