<div class="home-content">

    <div class="home-intro">
        <h4>I’m Shang-Poh Yu, <br> Creative Problem Solver, <br> Interactive Designer.</h4>
        <p>( but you’re welcome to call me Shang )</p>
        <nav>
            <ul>
                <li><a href="#">see projects</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </nav>
    </div>

    <div class="home-hello">
        <div class="col">
            <div>H</div>
            <div>L</div>
            <div>O</div>
        </div>

        <div class="col">
            <div>L</div>
            <div>E</div>
        </div>
    </div>
</div>