<div class="projects-content">

    <div class="projects-project">
        <div class="projects-project-info">
            <h6 class="projects-project-info_client">
                MailChimp
            </h6>

            <h3 class="projects-project-info_title">
                Did you mean <br> mailchimp?
            </h3>
            <a href="#/single" class="btn">
                <div class="btn-line"></div>
                <div class="btn-text">see this case</div>
            </a>

        </div>
        <div class="projects-project-image">

        </div>
    </div>

    <div class="projects-project">
        <div class="projects-project-info">
            <h6 class="projects-project-info_client">
                Ford Motor Company
            </h6>

            <h3 class="projects-project-info_title">
                Pocket <br> Mustang
            </h3>
            <a  href="#/single" class="btn">
                <div class="btn-line"></div>
                <div class="btn-text">see this case</div>
            </a>

        </div>
        <div class="projects-project-image">

        </div>
    </div>

    <div class="projects-project">
        <div class="projects-project-info">
            <h6 class="projects-project-info_client">
                Bombardier Recreational Products
            </h6>

            <h3 class="projects-project-info_title">
                Evinrude <br> E-TEC G2
            </h3>
            <a  href="#/single" class="btn">
                <div class="btn-line"></div>
                <div class="btn-text">see this case</div>
            </a>

        </div>
        <div class="projects-project-image">

        </div>
    </div>


</div>