



<div class="projects-content">
        
    <% for(var i=0; i<projects.length; i++) {%>
        <div class="scroll-section">
                <a href="#/<%= permalink(projects[i].title) %>" class="projects-project">
                    
                                <div class="projects-project-info">
                                    <h6 class="projects-project-info_client">
                                            <%= projects[i].client %>
                                    </h6>
                    
                                    <h3 class="projects-project-info_title">
                                            <%= projects[i].title %>
                                    </h3>
                                    <div class="btn">
                                        <div class="btn-line"></div>
                                        <div class="btn-text">see this case</div>
                                    </div>
                    
                                </div>
                                <div class="projects-project-image" style="background-image:url(<%= projects[i].cover.image %>)">
                    
                                </div>
                    
                    
                            </a>


        </div>

        
    <% } %>



            <div class="projects-archive">
                <h3 class="projects-archive_title">
                    the <br> archive
                </h3>

                <div class="projects-archive_thumnails">
                    <div class="projects-archive_thumnails-item">
                        <div></div>
                    </div>
                    <div class="projects-archive_thumnails-item">
                        <div></div>
                    </div>
                    <div class="projects-archive_thumnails-item">
                        <div></div>
                    </div>
                </div>

            </div>
</div>