.home {
    .split {
        display: inline-block;

        .char {
        //    opacity: 0;
        }
    }
    .slide {
        &:first-child {
            .intro {
                align-self: flex-end;
                margin-bottom: 20vh;
                opacity: 0;
                nav {
                    margin-top: 60px;
                    display: flex;
                    flex-direction: column;
                    a {
                        padding: 5px 0;
                    }
                }
            }
        }
        .img {
            &.active {
                z-index: 1;
            }
        }
    }
    #hello {
        position: absolute;
        width: 100vw;
        height: 100vh;
        transform: translateX(-10vw);
        top: 0;
        z-index: -1;
        canvas {
            height: 100%;
            right: 0;
            position: absolute;
            top: 0;
        }
    }
    .about {
        .about-media {
            width: 30vw;
            align-self: baseline;
        }
        .about-info {
            width: 37vw;
        }
        .about-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            align-content: center;
            width: 100%;
            h2 {
                width: 100%;
            }
            h3 {
                margin-bottom: 30px;
            }
        }
        .about-media-inner {
            position: relative;
            &:before {
                padding-top: 56.25%;
                content: "";
                display: block;
            }
            >div {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat; //  transform: translateY(40%);
                //  opacity: 0;
            }
        }
    }
    .recognition-content {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        .fade-anima {
            display: flex;
            width: 80%;
            flex-wrap: wrap;
            flex-direction: row;
        }
        h3 {
            border-right: 13vw solid transparent;
            box-sizing: border-box;
            width: 100%;
        }
        h6 {
            font-size: 0.7vw;
            line-height: 0.9vw;
        }
        .recognition-item {
            width: 33.333%;
            box-sizing: border-box;
            border: 15px solid transparent;
            border-left: 0;
            display: flex;
            flex-direction: column;
            img {
                width: 66.6666%;
                margin-bottom: 1.5vw;
            }
        }
    }
    .awards-content {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        .fade-anima {
            display: flex;
            width: 80%;
            flex-wrap: wrap;
            flex-direction: row;
        }
        h3 {
            border-right: 13vw solid transparent;
            box-sizing: border-box;
            width: 100%;
        }
        .award-item img {
            width: 66.6666%;
            margin-bottom: 1.5vw;
        }
        h6 {
            font-size: 0.7vw;
            line-height: 0.9vw;
        }
        .award-item {
            width: 33.333%;
            box-sizing: border-box;
            border: 15px solid transparent;
            border-left: 0;
            display: flex;
            flex-direction: column;
        }
    }
    .contact {
        text-align: center;
        .content {
            justify-content: center;
        }
        .fade-anima {
            opacity: 0;
            position: fixed;
            bottom: 0;
            width: 100vw;
            margin-bottom: 60px;
        }
    }
}