@import '../../common/styles/variables';
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    .header-content {
        .logo {
            width: 60px;
            height: 60px;
            background-color: $color03;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 25px;
                height: 26.32px;

                fill:$color01;

                polygon {
                    fill:$color01;
                }
            }
        }
    }
}