<div class="about-content">

    <div class="scroll-section">
        <div class="about-content-section">

            <div class="about-content-wrap js-info">

                <h3 class="about_title">
                    <%= info.about.title %>
                </h3>

                <div class="about-content-wrap-inner">
                    <div class="about-content-inner">
                        <div class="about-content-heading">
                            <h4>
                                <%= info.about.intro %>
                            </h4>
                        </div>

                        <div class="about-content-copy">
                            <% for(var i=0; i<info.about.paragraphs.length; i++) {%>
                                <p>
                                    <%= info.about.paragraphs[i].paragraph %>
                                </p>
                                <% } %>
                        </div>

                    </div>

                    <div class="about-content-profile js-image" >
                        <img src=" <%= profile %>" alt="">
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="scroll-section">
            <div class="about-content-section">
    
                <div class="about-content-wrap">
    
                    <div class="about-content-wrap-inner align-center">
                        <div class="about-content-inner js-info">
                            <div class="about-content-heading">
                                <h4>
                                    <%= info.about.awards %>
                                </h4>
                            </div>
    
    
                        </div>
    
                        <div class="js-image">
                                <img src="<%= info.awards[0].image %>">
                        </div>
    
    
                    </div>
    
                </div>
            </div>
        </div>

        <div class="scroll-section">
                <div class="about-content-section">
        
                    <div class="about-content-wrap">
        
                        <div class="about-content-wrap-inner align-center">
                            <div class="about-content-inner js-info">
                                <div class="about-content-heading">
                                    <h4>
                                        <%= info.about.clients %>
                                    </h4>
                                </div>
        
        
                            </div>
        
                            <div class="js-image js-carousel">
                                    <img src="<%= info.clients[0].image %>">
                                    <img src="<%= info.clients[1].image %>">
                            </div>
        
        
                        </div>
        
                    </div>
                </div>
            </div>

</div>