<div class="about-content">

    <div class="scroll-section">
        <div class="about-content-section">

            <div class="about-content-wrap">

                <h3 class="about_title">
                    <%= info.about.title %>
                </h3>

                <div class="about-content-wrap-inner">
                    <div class="about-content-inner">
                        <div class="about-content-heading">
                            <h4>
                                <%= info.about.intro %>
                            </h4>
                        </div>

                        <div class="about-content-copy">
                            <% for(var i=0; i<info.about.paragraphs.length; i++) {%>
                                <p>
                                    <%= info.about.paragraphs[i].paragraph %>
                                </p>
                                <% } %>
                        </div>

                    </div>

                    <div class="about-content-profile">
                        <img src=" <%= profile %>" alt="">
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="scroll-section">
            <div class="about-content-section">
    
                <div class="about-content-wrap">
    
                    <div class="about-content-wrap-inner align-center">
                        <div class="about-content-inner">
                            <div class="about-content-heading">
                                <h4>
                                    <%= info.about.awards %>
                                </h4>
                            </div>
    
    
                        </div>
    
                        <div class="about-content_awards">
                                <div class="about-content_awards-inner">
                                    <div class="about-content_awards-wrap">
                                        
                                                <% for(var i=0; i<info.awards.length; i++) {%>
                                                        <div class="about-content_awards-item">
                                                        
                                                                    <img src="<%= info.awards[i].image %>">
                
                                                                    <p><%=info.awards[i].title %></p>
                                                          </div>
                                                <% } %>
                                    </div>
                                </div>
                
                
                        </div>
    
    
                    </div>
    
                </div>
            </div>
        </div>

        <div class="scroll-section">
                <div class="about-content-section">
        
                    <div class="about-content-wrap">
        
                        <div class="about-content-wrap-inner align-center">
                            <div class="about-content-inner">
                                <div class="about-content-heading">
                                    <h4>
                                        <%= info.about.clients %>
                                    </h4>
                                </div>
        
        
                            </div>
        
                            <div class="about-content_awards">
                                    <div class="about-content_awards-inner">
                                        <div class="about-content_awards-wrap">
                                            
                                                    <% for(var i=0; i<info.awards.length; i++) {%>
                                                            <div class="about-content_awards-item">
                                                            
                                                                        <img src="<%= info.awards[i].image %>">
                    
                                                                        <p><%=info.awards[i].title %></p>
                                                              </div>
                                                    <% } %>
                                        </div>
                                    </div>
                    
                    
                            </div>
        
        
                        </div>
        
                    </div>
                </div>
            </div>

</div>